.kaufman__triangle {
    z-index: 0;
    background-image: url("../images/kaufman-triangle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    animation: rotation 20s linear infinite;
  }