.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 228px;
  height: 32px;
  background: center cover;
  background-repeat: no-repeat;
}

.logo_place-header {
  background-image: url("../images/logo_place_header.svg");
  margin-top: 30px;
  margin-left: 64px;
  order: 1;
  align-self: flex-start;
  position: absolute;
}

.header__title {
  position: relative;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
  order: 2;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  order: 3;
  z-index: 2;
  position: absolute;
  align-self: flex-end;
}

.header__main-illustration {
	width: 765px;
	height: 608px;
	background-image:url("../images/header-image.png");
	background-size:cover;
	position:absolute;
	bottom:0px;
	right:0px;
  align-self: flex-end;
  z-index: 1;
}

.header__square-pic {
    width: 568px;
		height: 568px;
		background-color:#2F80ED;
		position:absolute;
		top: 64px;
    right: 0px;
    align-self: flex-end;
		transform:rotate(-15deg);
		animation: square 20s linear infinite;
}

  @keyframes square {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

  .two-columns {
    display: flex;
    justify-content: space-between;
}

















/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
